@import url(produtos.css);

main{
  widht: 940px;
  margin: 0 auto;
}

form{
  margin: 40px;
}

form label form p  {
  display:block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-padrão {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}
.checkbox {
  margin: 20px 0;
}