header { 
  background:#bbbbbb;
  padding: 20px 0;
}

.caixa{
  position:relative;
  width: 940px;
  margin: 0 auto;
}

  nav{
  position: absolute;
  top: 110px;
  right:0;
} 

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  tex-transform: uppercas;
  color: black;
  fotn-weight: bold;
  fotn-size: 22px;
  text-decoration: none;
}

nav a :houver{
color: #3a3a91;
  text-decoration: underline;
}

.produtos{
  widht: 940px;
  margin: 0 auto;
  padding: 50px;
}

.produtos li{
  display: inline-block;
  text-aline: center;
  widht: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  box-sizing: border-box;
  border: 2px solid black:
  border-radius: 45px;
}

.produtos li:hover{
 border-color: red;
}

.produtos li:active{ 
  border-color: green;
}

.produtos li: hover h2{
  font-size:34 px;
}
.produtos h2{
  font-size: 30px;
  fotn-weight: bold;
}

.produto-descrição{ 
font-size: 18px;
}

.produto-preço{
  fotn-size: 22px;
  font-weight: bold;
  margin-top: 10 px;
}


footer{
  text-align: center;
  background: url("bg.jpg");
  padding: 40px 0;
}

.copyright{
  color: white;
  font-size: 22px;
  margin: 20px auto:
}